/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.main-header {
    background-color: #f7f7f7;
    color: #000000;
    padding-top: 5px; /* Mengurangi padding atas header */
    padding-bottom: 5px; /* Mengurangi padding bawah header */
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;

}

.profile-section {
    display: flex;
    flex-direction: column; /* Mengubah menjadi layout kolom */
    align-items: center; /* Membuat konten berada di tengah secara horizontal */
    justify-content: center; /* Membuat konten berada di tengah secara vertikal */
}

.profile-image img {
    margin-top: 15px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
    text-align: center; /* Teks diatur ke tengah */
    margin-top: 1px; /* Jarak antara gambar profil dan teks */
}

/* Aturan tambahan untuk teks nama */
.profile-info h1 {
    justify-content: center; /* Membuat teks nama berada di tengah secara horizontal */
    font-size: 16px;

    color: #000000;

}

.profile-info h1 svg { /* verified */
fill: #1877F2
}



.profile-info p {
    font-size: 14px;
    color: #555;
    margin-top: -10px;

}

.profile-info .bio {
    color: #000000;
    margin-bottom: 10px;
}

/* Main Content */
.main {
    padding: 20px;
    position: relative;
    overflow-y: scroll; /* Membuat konten dapat di-scroll */
    max-height: calc(100vh - 200px); /* Batas tinggi konten yang dapat di-scroll */
}

.scroll-content {
    padding: 20px;
}

/* Social Icons */
.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-icons a {
    margin: 5px 0;
}

.social-icons img {
    width: 150px;
}

/* Footer */
.main-footer {
    height: 200px;
    background-color: #f7f7f7;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.main-footer img {
    width: 12px;
    align-items: center;
}

.main-footer p {
    margin-top: 100px;
}

/* Menghilangkan garis bawah dari tautan */
.main-footer a {
    text-decoration: none;
    color: #0095f6; /* Warna teks sesuai keinginan Anda */
}
