/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.main-header {
    background-color: #f1f1f1;
    color: #000000;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-image {
    margin: 25px;
}

.profile-image img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
    text-align: left;
    align-items: center;
    margin: 25px;
}

.profile-info h1 {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #000000;
    margin-bottom: 1px;
}

.profile-info h1 img {
    width: 20px;
    margin-left: 5px;
}

.profile-info p {
    margin-top: 1px;
    font-size: 20px;
    color: #555;
    margin-bottom: 1px;
}

.profile-info .bio {
    margin-top: 1px;
    color: #000000;
    margin-bottom: 10px;
}

/* Main Content */
.main {
    padding: 20px;
    position: relative;
    overflow-y: scroll; /* Membuat konten dapat di-scroll */
    max-height: calc(100vh - 200px); /* Batas tinggi konten yang dapat di-scroll */
}

.scroll-content {
    padding: 20px;
}

/* Social Icons */
.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-icons a {
    margin: 5px 0;
}

.social-icons img {
    width: 250px;
}

/* Footer */
.main-footer {
    height: 200px;
    background-color: #f1f1f1;
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.main-footer img {
    width: 15px;
    align-items: center;
}

.main-footer p {
    margin-top: 100px;
}

/* Menghilangkan garis bawah dari tautan */
.main-footer a {
    text-decoration: none;
    color: #0095f6; /* Warna teks sesuai keinginan Anda */
}
